html{
    font-size: 16px;
}

/* Header Styles */

#header_banner{
    background-color: #FF9D0B;
    height: 10rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.svg_container{
    position: relative;
    bottom: 9.1rem;
    right: 6rem;
}



.links{
    width: 39%;
    position: relative;
    top: 5.5rem;
    right: rem;
    display: flex;
}

#banner_nav{
    width: 100%;
}

#banner_nav a{
    color: black;
    background-color: #FF9D0B;
    font-size: 2rem;
    padding: 0.75rem;
    margin: 0;
    text-decoration: none;
    opacity: 0.711;
}

#banner_nav a:hover{
    color: white;
}

#banner_nav a:active{
    position: relative;
    top: 2px;
    box-shadow: none;
}

@media only screen and (max-width: 1525px){
    
    #order{
        display: none;
    }
}

@media only screen and (max-width: 1025px){
    #banner_nav a{
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 840px){
    
    #banner_nav{
        display: flex;
        flex-flow: column;
        position: relative;
        bottom: 6.5rem;
        right: 10rem;
    }
    
    #banner_nav a{
        width: 10rem;
    }
    
}

/* Page Hero Styles */

#page_hero{
    background-image: url("../Images/farm.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    display: flex;
    height: 30rem;
}

.order_section{
    background-color: #0C5713;
    width: 20rem;
    border: 1px black solid;
    border-radius: 1rem;
    height: 15rem;
    position: relative;
    top: 7rem;
    left: 6rem;
    box-shadow: 2px 2px;
    
    
}

.headings{
    text-align: center;
}

.headings h2{
    font-size: 2.5rem;
    color: white;
}

.headings h3{
    font-size: 2rem;
    color: white;
}

.order_button button{
    background-color: orange;
    border-radius: 7px;
    padding: 1rem 5rem;
    display: block;
    margin: auto;
    position: relative;
    bottom: 1rem;
    
}

/* Main Content Sections */


.one, .two, .three{
    width: 100%;
    display: inline-flex; 
    
}

.one{
    
    background-color: #3AC521;
    height: 27rem;
}

.two{
    background-color: #F0A400;
    height: 27rem;
}

.three{
    background-color: #F05740;
    height: 28rem;
}

.four{
    background-color: #5C6D70;
    height: auto;
}

.five{
    background-color: #2E4246;
    color: white;
    height: auto;
}

.six{
    background-color: #F0E130;
    height: 26.5rem;
}

footer{
    background-color: #6BC568;
}

.image_container img{
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border: .5rem solid white;
}

.one .image_container{
    width: 18%;
    margin: auto;
}

.one .content{
    display: flex;
    width: 65%;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.two .content{
    display: flex;
    width: 65%;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}

.two .image_container{
    width: 18%;
    margin: auto;
}

.three .content{
    display: flex;
    width: 65%;
    align-items: center;
    flex-flow: column;
    justify-content: center;
}


.three .image_container{
    width: 18%;
    margin: auto;
}

.four .content{
    width: 100%;
    text-align: center;
    padding-top: 1.5rem;
}

.four .image_gallery{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image_gallery .image_container{
    width: 20rem;
    padding: 3rem;
}

.five .top_header{
    width: 100%;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    position: relative;
    top: 0.5rem;
    margin: auto;
}


.five .content{
    width: 100%;
    text-align: center;
    padding-bottom: 3rem;
    position: relative;
    top: 0.5rem;
    margin: auto;
}

.five .content h2{
    position: relative;
    top: 2.5rem;
    margin: 0 auto 4rem auto;
}

.five .top_staff{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
}

.top_staff .team_container{
    width: 30%;
    height: auto;
    justify-content: center;
    padding: 1rem;
}

.team_container .image_container img{
    width: 20rem;
    height: 25rem;
    display: block;
    margin: auto;
}

@media only screen and (max-width: 1070px){
    .top_staff{
        flex-flow: column;
        display: flex;
        width: 90%;
        justify-content: center;
        align-items: center;
    }
    
    .team_container .image_container img{
        width: 90%
    }
    
    .team_container .content h2{
        white-space: nowrap;
        position: relative;
       
    }
    
    .team_container .content h3{
        white-space: wrap;
    }
        
}

.six{
    width: 100%;
    display: inline-flex;
    
}

.contact{
    width: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center
}

.contact .content{
    padding: 2rem;
}

.google_map{
    width: 50%;
}

.google_map iframe{
    width: 50%;
    height: 20rem;
}

.footer_container{
    display: flex;
    padding-left: 3rem;
    padding-right: 3rem;
    justify-content: space-between;
    
    
}